button {
    padding: 0.2em;
    height: 5em;
    width: 5em;
    border-radius: 3em;
    border: none;
    background-color: #eee;
}

button img {
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: #ddd;
}

button.recording {
    background-color: #d00;
    color: white;
}

button.recording:hover {
    background-color: #c00;
    color: white;
}